pip~=23.2.1
emoji~=1.7.0
attrs~=23.1.0
colorlog~=6.7.0
toml~=0.10.2
wheel~=0.37.1
Brotli~=1.0.9
cryptography~=40.0.2
py~=1.11.0
lxml~=4.9.3
Pillow~=9.0.1
tornado~=6.3.2
Jinja2~=3.1.2
keyring~=23.5.0
future~=0.18.2
requests~=2.30.0
rich~=12.4.4
colorama~=0.4.4
PyYAML~=5.4.1
pytest~=7.3.1
numpy~=1.23.5
Cython~=0.29.30
setuptools~=60.2.0
pytz~=2022.1
overrides~=7.3.1
cffi~=1.15.1
numba~=0.57.1
mypy~=0.961
regex~=2022.6.2
fsspec~=2023.6.0
lz4~=4.3.2
zstandard~=0.21.0
aiohttp~=3.8.4
yarl~=1.7.2
paramiko~=2.9.3
certifi~=2023.5.7
idna~=3.3
urllib3~=1.26.6
chardet~=4.0.0
tokenizers~=0.13.3
jax~=0.3.13
safetensors~=0.3.1
torch~=2.0.0
scipy~=1.8.1
scikit-learn~=1.2.2
filelock~=3.7.1
tqdm~=4.65.0
packaging~=21.3
transformers~=4.31.0
accelerate~=0.21.0
openai~=0.27.2
datasets~=2.11.0
sentencepiece~=0.1.99
flax~=0.5.0
timm~=0.5.4
torchvision~=0.15.1
clip~=1.0
pandas~=2.0.3
nltk~=3.8.1
beautifulsoup4~=4.12.2
sacremoses~=0.0.53
torchaudio~=2.0.1
fastapi~=0.100.0
pydantic~=1.9.1
starlette~=0.27.0
uvicorn~=0.22.0
psutil~=5.9.5
optuna~=3.3.0
wandb~=0.12.18
msgpack~=1.0.4
gradio~=3.38.0
py-cpuinfo~=9.0.0
langchain~=0.0.244